extends layout.pug

block content

    nav.nav
        a(href='/')
            span &larr;
            |  Back

    article.portfolio-about
        .inner-wrapper.flex-row-wrap.two-col
            .about-intro-box.box

                h1 Rachel Johnson

                p Web Developer in Beta

                .about-bio
                    p I’m a highly technical Graphic Designer, Web Designer and Developer with a passion for creating design and web solutions in-house and for clients that reflect this technological age. For over 5 years, I’ve been helping clients and businesses with their branding, company collateral, advertising solutions and visual content. I also design and develop results-driven websites that promote sales and visits for my clients.
                    p My modern technology driven workflow sets me apart from traditional Designers, as I subscribe to new technologies, utilising macros, scripts, commands, and programming fundamentals to maximise workflow.
                    p When I’m not on the job, I love attending dance and gymnastic classes, learning new skills through online courses, and experimenting in the kitchen.


            .skills-contact-box.box
                h6 Skills

                ul
                    li HTML
                    li CSS
                    li JavaScript
                    li PHP
                    li SQL
                    li Python
                    li Git and GitHub
                    li Jetbrains (WebStorm, PHPStorm, PyCharm)
                    li Accessibility
                    li OOP
                    li Fetch and Public APIs
                    li Node.js
                    li Express
                    li Pug

                h6 Contact Info

                ul
                    li 111-222-3456
                    li rachelktyjohnson@gmail.com

                a.btn-link(target="_blank" href='https://www.linkedin.com/in/rachelktyjohnson/') LinkedIn
                a.btn-link(target="_blank" href='https://github.com/rachelktyjohnson') GitHub

        nav.nav
            a(href='/')
                span &larr;
                |  Back