extends layout.pug

block content

    article.portfolio-intro
        //Error page
        h1= "Error " + err.status +": "+ err.message

        nav.nav
            a(href='/')
                span &larr;
                |  Back

        pre= err.stack

