extends layout.pug

block content

    article.portfolio-intro

        h1 G'Day 🐨 Look at all my stuff!

        p This portfolio is a piece made to put together all the projects done in the Treehouse Web Development Techdegree. I aim to show off the things I've learnt in one place and amaze you!


    article.portfolio-project-thumbs
        .projects-box.box.grid

            each project in data
              .cell
                a(href='/project/' + project.id)
                  img.thumbnail(src=project.image_urls[0], alt=project.project_name)
                  h5= project.project_name

